<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- applicationContext.xml -->
<bean id="mod5" class="com.bit.day04.module.Module5">
	<property name="arr">
		<array>
			<value>a1</value>		
			<value>a2</value>		
			<value>a3</value>		
			<value>a4</value>		
		</array>
	</property>
	<property name="list">
		<list>
			<value>A1</value>
			<value>B1</value>
			<value>C1</value>
			<value>D1</value>
		</list>
	</property>
	<property name="set">
		<set>
			<value>aaa</value>
			<value>bbb</value>
			<value>ccc</value>
			<value>ddd</value>
			<value>eee</value>
		</set>
	</property>
	<property name="map">
	<!-- 
		<map>
			<entry key="key1" value="val1"></entry>
			<entry key="key2" value="val2"></entry>
			<entry key="key3" value="val3"></entry>
			<entry key="key4" value="val4"></entry>
		</map>
	 -->
	 	<props>
	 		<prop key="k1">v1</prop>
	 		<prop key="k2">v2</prop>
	 		<prop key="k3">v3</prop>
	 		<prop key="k4">v4</prop>
	 	</props>	
	</property>
</bean>

<bean id="mod4" class="com.bit.day04.module.Module4">
	<property name="msg" value="하이"></property>
	<property name="num1" value="1000"></property>
	<property name="num2" value="3.14"></property>
	<property name="ch" value="@"></property>
	<property name="boo" value="true"></property>
</bean>
	
<bean id="mod2" class="com.bit.day04.module.Module3">
	<!--  <property name="module" ref="mod"></property>-->
	<constructor-arg ref="mod"></constructor-arg>
</bean>

<bean id="mod" class="com.bit.day04.module.Module2">
	<!--<property name="msg" value="환영할까"></property>-->
	<constructor-arg value="환영할까"></constructor-arg>
</bean>

</beans>
